$size-height: 1.5rem;
$size-top: 4rem;
$size-bottom: 6rem;
$size-border: 2px;

.artObject {
    position: relative;
    max-width: 1222px;
    margin: 0 auto;
    

    &Container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: $size-height 0 0; 
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.27);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);

        clip-path: polygon(
            0 0,
            $size-top 0,
            $size-bottom $size-height,
            100% $size-height,
            100% calc(100% - $size-height),
            100% calc(100% - $size-height),
            calc(100% - $size-top) calc(100% - $size-height),
            calc(100% - $size-bottom) 100%,
            0 100%,
        );
    }

    &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: -2px;
        bottom: -2px;
        right: -2px;
        background: rgba(255, 255, 255, 0.5);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);

        clip-path: polygon(
            0 0,
            calc($size-top + 3px) 0,
            calc($size-bottom + 3px)  calc($size-height),
            100% $size-height,
            100% calc(100% - $size-height),
            100% calc(100% - $size-height),
            calc(100% - $size-top) calc(100% - $size-height),
            calc(100% - $size-bottom) 100%,
            0 100%,

            -2px calc(100% - 2px),
            calc(100% - $size-bottom - 1px) calc(100% - 2px),
            calc(100% - $size-top - 1px) calc(100% - $size-height - 2px),
            calc(100% - 2px) calc(100% - $size-height - 2px),
            calc(100% - 2px) calc(100% - $size-height - 2px),
            calc(100% - 2px) calc($size-height + 2px),
            calc($size-bottom + 2px) calc($size-height + 2px),
            calc($size-top + 2px) 2px,
            2px 2px,
            2px 100%,
            2px calc(100% + 2px),
        );
    }

    &Column {
        position: relative;
        z-index: 1;
    }

    h3 {
        font: 400 31px/1.2 'TTOctosquares', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.11em;
        margin-bottom: 0.5em;
    }

    p {
        font: 400 14px/1.4 'MazzardH', sans-serif;  
    }

    strong {
       font-weight: bold;
    }

    &Large {
        font-size: 1.8rem;
    }

    &TextSpace {
        padding: 50px 30px;
    }

    &Trio {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
        }
    }

    &Two {
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 157px;

        & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
        }
    }
}

.artObjectColumn {
    position: relative;

    &::after {
        content: '';
        width: 2px;
        height: 100%;
        background: #fff;
        position: absolute;
        top: 0;
        right: -1px;
    }

    &:last-child::after {
        display: none;
    }
}

.artObjectRow {
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: -1px;
        left: 0;
    }

    &:last-child::after {
        display: none;
    }
}

.artObjectTrio,
.artObjectTwo {
    & > div {
        position: relative;

        &::after {
            content: '';
            width: 2px;
            height: 100%;
            background: #fff;
            position: absolute;
            top: 0;
            right: -1px;
        }
    
        &:last-child::after {
            display: none;
        }
    }
}