$size-height: 0.7rem;
$size-top: 3rem;
$size-bottom: 4.5rem;
$size-border: 2px;

.logo {
    &List {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 50px;
    }

    &Item {
        position: relative;
        height: 113px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: 0;
            transition: all 0.3s;
            clip-path: polygon(
                0 0,
                $size-top 0,
                $size-bottom $size-height,
                100% $size-height,
                100% calc(100% - $size-height),
                100% calc(100% - $size-height),
                calc(100% - $size-top) calc(100% - $size-height),
                calc(100% - $size-bottom) 100%,
                0 100%,
            );
            background: linear-gradient(
                135deg,
                rgba(255,255,255,0.2) 0%,
                rgba(255,255,255,0.6) 100%
            );
            backdrop-filter: blur(5px);
        }

        &Text {
            position: relative;
            z-index: 1;
            font: 400 25px/1 'TTOctosquares', sans-serif;
            text-transform: uppercase;
        }

        &AngleLeft {
            position: absolute;
            top: 16px;
            right: 6px;
            width: 0;
            height: 0;
            z-index: 1;
            border-top: 15px solid white;
            border-left: 15px solid transparent;
            transition: all 0.3s;
        }
    
        &AngleRight {
            position: absolute;
            bottom: 7px;
            left: 7px;
            width: 0;
            height: 0;
            z-index: 1;
            border-bottom: 15px solid white;
            border-right: 15px solid transparent;
            transition: all 0.3s;
        }
    }
}