.title {
    font-family: 'TTOctosquares';
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 2vw;
    text-transform: uppercase;

    &Medium {
        font-size: 4.7143rem;
        margin-bottom: 1.4286rem;
        text-align: center;
        position: relative;
        right: -0.3em;
    }

    &X-Medium {
        font-size: 4.6rem;
        margin-bottom: 1.4286rem;
        text-align: center;
        letter-spacing: 0.2em;
    }

    &Large {
        font-size: 5.7143rem;
    }

    &Small {
        font-size: 3.8rem;
        text-align: left;
        letter-spacing: 1vw;
    }
}