.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #091419;
  z-index: 999;
  overflow-x: auto;
  background-size: cover;

  &Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &Scroll {
    min-width: 900px;
    padding: 50px;
    box-sizing: border-box;
  }
}

