.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #091419;
  z-index: 999;
  background-size: cover;
  overflow-y: auto;

  &Title {
    font-family: "TTOctosquares";
    font-size: 6vw;
    font-weight: 500;
    line-height: 1.2;
    max-width: 848px;
    line-height: 1.4;
    text-transform: uppercase;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: -1234em;
    margin: 30px 0 20px;
    background-size: contain;
  }

  &Text {
    margin-bottom: 20px;
  }

  &Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &Container {
    min-width: 900px;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    gap: 20px;
    max-height: 100vh;
  }

  &Content {
    padding-bottom: 50px;
  }

  &Button {
    padding-left: 30px;
    padding-right: 30px;
  }

  &Arrow {
    display: inline-block;
    margin-left: 10px;
  }
}

