$size-height: 0.7rem;
$size-top: 3rem;
$size-bottom: 4.5rem;
$size-border: 2px;

.allies {
    &Gallery {
        
    }

    &Container {
        display: flex;
        overflow-y: auto;
        gap: 30px;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        padding-left: 30px;
        margin-right: -6.8571rem;

        &::-webkit-scrollbar {
            display: none;
        }

        &::after {
            content: '';
            padding-right: 20px;
        }
    }

    &Item {
        position: relative;
        width: 25%;
        min-width: 25%;
        padding: 20px 10px;
        scroll-snap-align: start;
        scroll-snap-stop: always;

        &Container {
            position: relative;
            z-index: 2;
        }        

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: 0;
            transition: all 0.3s;
            clip-path: polygon(
                0 0,
                $size-top 0,
                $size-bottom $size-height,
                100% $size-height,
                100% calc(100% - $size-height),
                100% calc(100% - $size-height),
                calc(100% - $size-top) calc(100% - $size-height),
                calc(100% - $size-bottom) 100%,
                0 100%,
            );
            background: linear-gradient(-135deg,
             rgba(230,118,178,1) 0%,
             rgba(231,143,129,0.66) 13%,
             rgba(231,143,129,0.5) 38%,
             rgba(231,143,129,0.3) 57%,
             rgba(255,255,255,0.1) 100%);
            backdrop-filter: blur(5px);
        }
    }

    &Image {
        width: 100%;
        margin-bottom: 12px;
    }

    &Position {
        font: 400 10px/1.2 'MazzardH';
        margin-bottom: 4px;
    }

    &Title {
        font: 400 21px/1 'TTOctosquares', sans-serif;
        text-transform: uppercase;
    }

    &Description {
        display: none;
    }
}