$size-height: 0.7rem;
$size-top: 3rem;
$size-bottom: 4.5rem;

$size-height-large: 0.7rem;
$size-top-large: 4rem;
$size-bottom-large: 5.3rem;

.allies {
    &Gallery {
        position: relative;
    }

    &Container {
        display: flex;
        overflow-y: auto;
        gap: 30px;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        padding-left: 30px;
        margin-right: -6.8571rem;
        align-items: flex-start;

        &::-webkit-scrollbar {
            display: none;
        }

        &::after {
            content: '';
            padding-right: 20px;
        }
    }

    &Item {
        position: relative;
        width: 25%;
        min-width: 25%;
        padding: 20px 10px;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        cursor: pointer;
        transition: all 0.2s;
        font-size: 14px;

        &Container {
            position: relative;
            z-index: 2;
        }        

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            z-index: 0;
            transition: all 0.3s;
            clip-path: polygon(
                0 0,
                $size-top 0,
                $size-bottom $size-height,
                100% $size-height,
                100% calc(100% - $size-height),
                100% calc(100% - $size-height),
                calc(100% - $size-top) calc(100% - $size-height),
                calc(100% - $size-bottom) 100%,
                0 100%,
            );
            background: linear-gradient(-135deg,
            rgba(230, 118, 178, 1) 0%,
            rgba(231, 143, 129, 1) 5%,
            rgba(255, 255, 255, 0.5) 20%,
            rgba(255, 255, 255, 0.2) 100%);
            backdrop-filter: blur(5px);
            transition: all 0.3s;
        }

        &Active {
            &::after {
                background: linear-gradient(-135deg,
                rgba(230, 118, 178, 1) 0%,
                rgba(231, 143, 129, 1) 5%,
                rgba(255, 255, 255, 1) 20%,
                rgba(255, 255, 255, 1) 100%);

                clip-path: polygon(
                    0 0,
                    $size-top-large 0,
                    $size-bottom-large $size-height-large,
                    100% $size-height-large,
                    100% calc(100% - $size-height-large),
                    100% calc(100% - $size-height-large),
                    calc(100% - $size-top-large) calc(100% - $size-height-large),
                    calc(100% - $size-bottom-large) 100%,
                    0 100%,
                );
            }

            width: 35%;
            min-width: 35%;
            color: black;
            font-size: 18px;
            padding: 30px 20px;
        }
    }

    &ImageContainer {
        position: relative;
        width: 100%;
        padding-bottom: 132%;
        margin-bottom: 1em;
        overflow: hidden;
    }

    &Image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    &Position {
        font: 400 0.9em/1.2 'MazzardH';
        margin-bottom: 4px;
    }

    &Title {
        font: 400 1.3em/1 'TTOctosquares', sans-serif;
        text-transform: uppercase;
    }

    &Description {
        display: none;
    }
}

.dragDragDrag {
    position: absolute;
    pointer-events: none;
    width: 10vw;
    height: 10vw;
    right: 5vw;
    top: 11vw;
    z-index: 3;
}