.section {
    height: 100vh;
    padding: 2.1429rem 6.8571rem;
    box-sizing: border-box;
    min-height: 600px;

    &Main {
        background: url('/bg/screen_1_bg.jpg') center no-repeat no-repeat;

        &::before {
            content: '';
            width: 100%;
            height: 200px;
            position: absolute;
            z-index: 1;
            bottom: 0;
            background: linear-gradient(to top,  rgba(230,209,224,1) 0%,rgba(255,255,255,0) 100%);
            left: 0;
        }
    }

    &Earth {
        background: url('/bg/screen_2_bg.jpg') center no-repeat no-repeat;
    }

    &Main,
    &Earth {
        display: flex;
        align-items: center;
        padding-top: 7.1429rem;
        padding-bottom: 7.1429rem;
        background-size: cover;
        flex-wrap: wrap;
    }

    &Animation {
        min-height: 100vh;
        height: auto;
        position: relative;
        padding-bottom: 2em;
        background: linear-gradient(
            to bottom,  
            #222331 0%,
            #0e1217 50%,
            #633e60 100%
        );
        padding-top: 50px;

        &::before {
            content: '';
            width: 100%;
            height: 150px;
            position: absolute;
            z-index: 1;
            top: -150px;
            background: linear-gradient(to top,  rgba(34,35,49,1) 0%,rgba(64,55,69,0) 62%,rgba(82,67,81,0) 100%);
            left: 0;
        }
    }

    &DifficultForms {
        background: linear-gradient(
            to bottom,  
            #633e60 0%,
            #705451 10%,
            #32344B 100%
        );  
    }
}

.header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 2.2857rem;
    position: absolute;
    top: 2.2rem;
    left: 2.8571rem;
    right: 2.8571rem;
    z-index: 9;
}

.buttonList {
    display: flex;
    justify-content: center;
    gap: 1.4286rem;
}

.artTitle {
    margin-bottom: 2em;
}

.smallTitle {
    margin-bottom: 1em;
}

.subTitle {
    margin-bottom: 50px;
}

