.title {
    text-align: right;
    display: inline-block;
    font: bold 15px/1.2em 'MazzardH';
    text-transform: uppercase;

    &Text {
        background-image: linear-gradient(to right, #FFB800, #FFBAC3);
        background-clip: text;
        color: transparent;
        display: inline-block;
        padding-right: 10px;
        line-height: 1;
    }

    &Icon {
        position: relative;
        top: -2px;
    }
}

