.title {
  color: white;
  font-size: 100px;
  line-height: 1.2;
  font-family: 'TTOctosquares', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 60px;
}

