.title {
    display: inline-flex;
    flex-direction: column;
    font: bold 15px/1.2em 'MazzardH';
    text-transform: uppercase;
    text-align: right;
    gap: 0.1em;

    &Center {
        display: flex;
        align-items: center;
        justify-content: center;

        .titleText {
            padding-right: 0;   
        }
    }

    &Text {
        background-image: linear-gradient(to right, #FFB800, #FFBAC3);
        background-clip: text;
        color: transparent;
        display: inline-block;
        padding-right: 10px;
        line-height: 1;
    }
}

